html, body {
    width: 100%;
    height: 100%;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-color: lightgray;
    font-family:sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


